header {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 70px;
  background-color: red; }
  header .logo img {
    height: 45px; }
  header .contenedor {
    display: flex;
    justify-content: center; }
  header img {
    width: 500px; }
  header .grid-container {
    display: grid;
    background-color: red; }
  header h1 {
    color: white; }
  header h2 {
    color: red; }
  header img {
    height: 300px; }
  header header nav {
    display: flex;
    list-style: none; }
  header nav ul li {
    margin: 14px; }
  header .container__img h3 {
    color: red;
    display: flex; }
  header .container__img {
    width: 100%;
    display: flex;
    margin: auto; }
